@import "../helpers/variables.scss";

/**
* General
*/
.header {
    &--title {
        margin: 3rem 0;
    }
    &--infobar {
        &--date,
        &--categories {
            flex: 0 0 15%;
        }
        &--date {
            display: flex;
            align-items: center;
        }
        height: 6rem;
        align-items: center;
        box-shadow: $shadowBox;
        display: flex;
        background-color: #fff;
        padding-left: 2%;
        &--search {
            display: flex;
            align-items: center;
            width: 100%;
            svg {
                margin-right: 1%;
                width: 3.5%;
            }
        }
    }
    &--infobar--date:hover {
        cursor: pointer;
    }
}