/**
* Import
*/
@import "../helper/modifier.scss";
@import "../helper/variable.scss";

/**
* Main content
*/
.main {
    
    &--left {
        background-color: #fff;
        padding: 2% 2% 2% 2%;

        &--element {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-column: span 8;
            margin: 3% 0;
            &--date{
                grid-column: 1/2;
                text-align: center;
                position: relative;                
            }
            &--img {
                grid-column: 2/3;
                text-align: center;
                position: relative; 
            } 
            // &--img::before,
            // &--img::after {
            //     content: "";
            //     border: 2px dotted #333;
            //     display: inline-block;
            //     position: absolute;
            //     height: 232px;
            //     transform: translateY(-9%);
            //     top: 0%;
            //     left: 50%;
            //     z-index: -1;
            // }
            &--text {
                grid-column: 3/9;
                border: 0.1rem solid #dbe8fa;
                padding: 15px 10px;
                border-radius: .8rem;
                background-color: #fff;
                h2,
                p {
                    margin-bottom: 2%;
                }
            }
        }
    }
    &--left--element:hover {
        cursor: pointer;
    }
}