/**
* Import
*/
@import "../helper/modifier.scss";
@import "../helper/variable.scss";

/**
* Main content
*/
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3rem;
    &--left {
        grid-column: 1 / -1;
        background-color: #fff;
        padding: 0 2%;
        &--element {
            display: flex;
            margin: 3% 0;
            justify-content: space-around;
            &--date,
            &--img {
                text-align: center;
                position: relative; 
            } 
            // &--img::before,
            // &--img::after {
            //     content: "";
            //     border: 2px dotted #333;
            //     display: inline-block;
            //     position: absolute;
            //     height: 232px;
            //     transform: translateY(-9%);
            //     top: 0%;
            //     left: 50%;
            //     z-index: -1;
            // }
            &--text {
                border: 0.1rem solid #dbe8fa;
                padding: 15px 10px;
                border-radius: .8rem;
                background-color: #fff;
                h2,
                p {
                    margin-bottom: 2%;
                }
            }
        }
    }
    &--left--element:hover {
        cursor: pointer;
    }
}