@import "./helpers/variables.scss";

/**
* Scss
*/
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: $backgroundColor;
}

h1, h2, h3, p, a {
    margin : 0;
}

p{
    font-size: 1.4rem;
}

h1{
    font-size: 2.2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.8rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    min-height: 5rem;
    background-color: $backgroundColor;
}

.card {
    margin-left: 38%;
    width: 50%;
}

