/**
* Import
*/
@import "variable.scss";

/**
* Grid layout
*/
%grid--layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
    justify-items: start;
    align-items: center;
    padding: 1em;
}

%btn {
    padding: 1em;
    color: $txt_primary-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}