/**
* Import
*/
@import "variable.scss";
@import "heritage.scss";

/**
* Block
*/
.is__none {
    display: none;
}

/**
* Button
*/
.is__btn {
    @extend %btn;
    background: $secondary-color;
}
.is__btn:hover {
    background-color:white; /* Green */
    color: $txt_secondary-color;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
}
.is__btn__important{
    @extend %btn;
    background-color: $important-color;
}
.is__btn__important:hover{
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
    color: $important-color;
}

/**
* Title
*/
.is__main__title {
    text-align: center;
    font-family:SignPainter;
    line-height: 0.7em;
    font-size: 3em;
    font-weight: bold;
}
.is__subTitle { 
    font-size: 1.1em;
}

/**
* Text
*/
.is__text__content {
    font-size: 0.8em;
    font-family: Roboto;
}

/**
* Span
*/
.is__span__title {
    font-family: Hominis;
    font-size: 30px;
    font-weight: 100;
}

.is__content__important{
    background-color: $background_important-color;
    color: $txt_important-color;
}