/**
* Import
*/
@import "../helper/variable.scss";
@import "../helper/mixins.scss";

section{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.row-filter{
    background-color: $secondary-color;
    color: $txt-primary-color;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    grid-gap: 1em;
    padding: 1em;
    .filter-date{
        grid-column: 2/2;
    }
    .filter-cat{
        grid-column: 3/3;
    }
    .filter-title{
        grid-column: 4/7;
    }
    .search{
        grid-column: 8/8;
    }
}
.content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
    justify-items: start;
    align-items: center;
    padding: 1em;
    color : $txt_secondary-color;
    .col p{
        align-self: center;
    }
    .col-date{
        grid-column: 2 / 2;
    } 
    .col-cat{
        grid-column: 3/3;
    } 
    .col-more{
        grid-column: 8/8;
    }
    .col-title{
        grid-column: 4/7;
    }
}

.content:nth-child(odd) {
    background-color: $table_bg-primary-color;
  }