/**
* Import
*/
@import "../helper/variable.scss";
@import "../helper/mixins.scss";

/**
* Header
*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    padding : 1em 0;
    background-color: $primary-color;
    color :$txt_primary-color;
}