/**
* Import
*/
@import "variable.scss";

/**
* Button
*/
%btn {
    border-radius: 50px 50px 50px 50px;
    background: $primary-color;
    width: 15%;
    height: auto;
    padding: 8px 55px;
}

/**
* Grid layout
*/
%grid--layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
    justify-items: start;
    align-items: center;
    padding: 1em;
}

/**
* Img
*/
%img {
    width: 20%;
    height: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}