/**
* Import
*/
/**
* Scss
*/
html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ebf2f5; }

h1, h2, h3, p, a {
  margin: 0; }

p {
  font-size: 1.4rem; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.8rem; }

/**
* Import
*/
/**
* A
*/
.is__arrow__close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold; }

.is__arrow__close:hover {
  cursor: pointer; }

/**
* B
*/
/**
* C
*/
.is__content__element {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  color: #333; }

.is__content__tag__element {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #328ce6; }

/**
* D
*/
.is__date {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

.is__date__year {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  letter-spacing: .3rem;
  line-height: 1;
  margin: 5% 0; }

/**
* E
*/
.is__element__img {
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  width: 50%;
  height: auto; }

/**
* F
*/
/**
* G
*/
/**
* H
*/
/**
* I
*/
/**
* J
*/
/**
* K
*/
/**
* L
*/
/**
* M
*/
.is__main__title {
  color: #333;
  font-family: "helvetica Neue";
  line-height: 0.7em;
  font-size: 3rem;
  font-weight: 300; }

/**
* N
*/
.is__none {
  display: none; }

/**
* O
*/
.is__overflow__hidden {
  overflow: hidden; }

/**
* P
*/
/**
* Q
*/
/**
* R
*/
/**
* S
*/
.is__search {
  border: none;
  font-size: 1.6rem;
  outline: none;
  width: 100%; }

.is__search:hover {
  border-bottom: 1px solid #333; }

.is__search:focus {
  border-bottom: 1px solid #333;
  cursor: text; }

.is__select {
  color: #333;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.6rem; }

.is__select:hover {
  cursor: pointer; }

.is__sort__date {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: lighter;
  margin: 0 5%; }

.is__sort__date > span {
  font-size: 1.6rem;
  font-weight: bold; }

.is__sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  min-height: 5rem; }

.sticky + #app {
  padding-top: 65px; }

.is__svg {
  width: 10%;
  height: auto; }

/**
* T
*/
.is__title__element {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  color: #333; }

/**
* U
*/
/**
* V
*/
/**
* W
*/
/**
* X
*/
/**
* Y
*/
/**
* Z
*/
/**
* Import
*/
/**
* General
*/
.header--title {
  margin: 3rem 0; }

.header--infobar {
  height: 6rem;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  display: flex;
  background-color: #fff;
  padding-left: 2%; }
  .header--infobar--date, .header--infobar--categories {
    flex: 0 0 15%; }
  .header--infobar--date {
    display: flex;
    align-items: center; }
  .header--infobar--search {
    display: flex;
    align-items: center;
    width: 100%; }
    .header--infobar--search svg {
      margin-right: 1%;
      width: 3.5%; }

.header--infobar--date:hover {
  cursor: pointer; }

/**
* Import
*/
/**
* Import
*/
/**
* A
*/
.is__arrow__close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold; }

.is__arrow__close:hover {
  cursor: pointer; }

/**
* B
*/
/**
* C
*/
.is__content__element {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  color: #333; }

.is__content__tag__element {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #328ce6; }

/**
* D
*/
.is__date {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

.is__date__year {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  letter-spacing: .3rem;
  line-height: 1;
  margin: 5% 0; }

/**
* E
*/
.is__element__img {
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  width: 50%;
  height: auto; }

/**
* F
*/
/**
* G
*/
/**
* H
*/
/**
* I
*/
/**
* J
*/
/**
* K
*/
/**
* L
*/
/**
* M
*/
.is__main__title {
  color: #333;
  font-family: "helvetica Neue";
  line-height: 0.7em;
  font-size: 3rem;
  font-weight: 300; }

/**
* N
*/
.is__none {
  display: none; }

/**
* O
*/
.is__overflow__hidden {
  overflow: hidden; }

/**
* P
*/
/**
* Q
*/
/**
* R
*/
/**
* S
*/
.is__search {
  border: none;
  font-size: 1.6rem;
  outline: none;
  width: 100%; }

.is__search:hover {
  border-bottom: 1px solid #333; }

.is__search:focus {
  border-bottom: 1px solid #333;
  cursor: text; }

.is__select {
  color: #333;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.6rem; }

.is__select:hover {
  cursor: pointer; }

.is__sort__date {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: lighter;
  margin: 0 5%; }

.is__sort__date > span {
  font-size: 1.6rem;
  font-weight: bold; }

.is__sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  min-height: 5rem; }

.sticky + #app {
  padding-top: 65px; }

.is__svg {
  width: 10%;
  height: auto; }

/**
* T
*/
.is__title__element {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  color: #333; }

/**
* U
*/
/**
* V
*/
/**
* W
*/
/**
* X
*/
/**
* Y
*/
/**
* Z
*/
/**
* Main content
*/
.main--left {
  background-color: #fff;
  padding: 2% 1%; }
  .main--left--element {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8;
    margin-bottom: 2%; }
    .main--left--element--date {
      grid-column: 1/2;
      text-align: center;
      position: relative; }
    .main--left--element--img {
      grid-column: 2/3;
      text-align: center;
      background-color: white;
      position: relative;
      z-index: 9; }
      .main--left--element--img::before {
        content: "";
        display: block;
        position: absolute;
        height: calc(100% + 2rem);
        border-left: 1px dashed #333;
        top: 0%;
        left: 50%;
        z-index: -1; }
    .main--left--element--text {
      grid-column: 3/9;
      border: 0.1rem solid #dbe8fa;
      padding: 15px 10px;
      border-radius: .8rem;
      background-color: #fff; }
      .main--left--element--text h2,
      .main--left--element--text p {
        margin-bottom: 2%; }
      .main--left--element--text:hover {
        box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
        cursor: pointer; }

/**
* Import
*/
/**
* Import
*/
/**
* A
*/
.is__arrow__close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold; }

.is__arrow__close:hover {
  cursor: pointer; }

/**
* B
*/
/**
* C
*/
.is__content__element {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  color: #333; }

.is__content__tag__element {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #328ce6; }

/**
* D
*/
.is__date {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

.is__date__year {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  letter-spacing: .3rem;
  line-height: 1;
  margin: 5% 0; }

/**
* E
*/
.is__element__img {
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  width: 50%;
  height: auto; }

/**
* F
*/
/**
* G
*/
/**
* H
*/
/**
* I
*/
/**
* J
*/
/**
* K
*/
/**
* L
*/
/**
* M
*/
.is__main__title {
  color: #333;
  font-family: "helvetica Neue";
  line-height: 0.7em;
  font-size: 3rem;
  font-weight: 300; }

/**
* N
*/
.is__none {
  display: none; }

/**
* O
*/
.is__overflow__hidden {
  overflow: hidden; }

/**
* P
*/
/**
* Q
*/
/**
* R
*/
/**
* S
*/
.is__search {
  border: none;
  font-size: 1.6rem;
  outline: none;
  width: 100%; }

.is__search:hover {
  border-bottom: 1px solid #333; }

.is__search:focus {
  border-bottom: 1px solid #333;
  cursor: text; }

.is__select {
  color: #333;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.6rem; }

.is__select:hover {
  cursor: pointer; }

.is__sort__date {
  font-size: 1.6rem;
  display: inline-block;
  font-weight: lighter;
  margin: 0 5%; }

.is__sort__date > span {
  font-size: 1.6rem;
  font-weight: bold; }

.is__sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  min-height: 5rem; }

.sticky + #app {
  padding-top: 65px; }

.is__svg {
  width: 10%;
  height: auto; }

/**
* T
*/
.is__title__element {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  color: #333; }

/**
* U
*/
/**
* V
*/
/**
* W
*/
/**
* X
*/
/**
* Y
*/
/**
* Z
*/
/**
* Main--right
*/
.main--right--element {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 11; }
  .main--right--element--wrapper {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 80% 20%;
    background-color: #fff;
    border: 0.2rem solid #b2d0fa;
    grid-gap: 5rem;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%; }
    .main--right--element--wrapper h2 {
      font-family: "helvetica Neue";
      font-size: 2.4rem;
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
      display: inline-block; }
    .main--right--element--wrapper h3 {
      font-family: "helvetica Neue";
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      padding-bottom: 1rem; }
    .main--right--element--wrapper p {
      padding-bottom: 3rem;
      font-size: 1.4rem;
      color: #333;
      line-height: 2.2rem; }
    .main--right--element--wrapper .separateur {
      width: 100%;
      border: solid 0.5px #5a5a5a;
      margin-bottom: 3rem; }

.is__arrow__close {
  float: right;
  top: 0; }

