/**
* Import
*/
/**
* Scss
*/
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ebf2f5;
  font-size: 62.5%; }

h1, h2, h3, p, a {
  margin: 0; }

p {
  font-size: 1.4rem; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.8rem; }

/**
* Import
*/
/**
* Content
*/
.is__sort__date {
  display: inline-block;
  font-weight: lighter;
  margin: 0 5%; }

.is__sort__date > span {
  font-size: 1.1rem;
  font-weight: bold; }

.is__content__element {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  color: #333; }

.is__content__tag__element {
  font-size: .7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #328ce6; }

/**
* Date
*/
.is__date {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

.is__date__year {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

/**
* Input
*/
.is__search {
  border: none;
  font-size: 1.2rem;
  outline: none;
  width: 100%; }

.is__search:hover {
  border-bottom: 1px solid #333; }

.is__search:focus {
  z-index: 1;
  border-bottom: 1px solid #333;
  cursor: text; }

/**
* Img
*/
.is__element__img {
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  width: 50%;
  height: auto; }

/**
* Title
*/
.is__main__title {
  color: #333;
  font-family: "helvetica Neue";
  line-height: 0.7em;
  font-size: 3rem;
  font-weight: 300; }

.is__title__element {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .06rem;
  color: #333; }

/**
* Select
*/
.is__select {
  color: #333;
  background: none;
  border: none;
  border-radius: 0; }

.is__select:hover {
  cursor: pointer; }

/**
* Sticky
*/
.is__sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.sticky + #app {
  padding-top: 65px; }

/**
* Svg
*/
.is__svg {
  width: 8%;
  height: auto; }

/**
* Import
*/
/**
* General
*/
.header--title {
  margin: 3rem 0; }

.header--infobar {
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  display: flex;
  background-color: #fff;
  min-height: 11vh;
  padding-left: 2%; }
  .header--infobar div {
    flex: 0 0 15%; }
  .header--infobar--search {
    display: flex;
    align-items: center; }
    .header--infobar--search svg {
      margin-right: 5%;
      width: 10.5%; }

.header--infobar--date:hover {
  cursor: pointer; }

/**
* Import
*/
/**
* Import
*/
/**
* Content
*/
.is__sort__date {
  display: inline-block;
  font-weight: lighter;
  margin: 0 5%; }

.is__sort__date > span {
  font-size: 1.1rem;
  font-weight: bold; }

.is__content__element {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  color: #333; }

.is__content__tag__element {
  font-size: .7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02rem;
  color: #328ce6; }

/**
* Date
*/
.is__date {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

.is__date__year {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  line-height: 1; }

/**
* Input
*/
.is__search {
  border: none;
  font-size: 1.2rem;
  outline: none;
  width: 100%; }

.is__search:hover {
  border-bottom: 1px solid #333; }

.is__search:focus {
  z-index: 1;
  border-bottom: 1px solid #333;
  cursor: text; }

/**
* Img
*/
.is__element__img {
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(141, 173, 229, 0.27);
  width: 50%;
  height: auto; }

/**
* Title
*/
.is__main__title {
  color: #333;
  font-family: "helvetica Neue";
  line-height: 0.7em;
  font-size: 3rem;
  font-weight: 300; }

.is__title__element {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .06rem;
  color: #333; }

/**
* Select
*/
.is__select {
  color: #333;
  background: none;
  border: none;
  border-radius: 0; }

.is__select:hover {
  cursor: pointer; }

/**
* Sticky
*/
.is__sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.sticky + #app {
  padding-top: 65px; }

/**
* Svg
*/
.is__svg {
  width: 8%;
  height: auto; }

/**
* Main content
*/
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 3rem; }
  .main--left {
    grid-column: 1 / -1;
    background-color: #fff;
    padding: 0 2%; }
    .main--left--element {
      display: flex;
      margin: 3% 0;
      justify-content: space-around; }
      .main--left--element--date, .main--left--element--img {
        text-align: center;
        position: relative; }
      .main--left--element--text {
        border: 0.1rem solid #dbe8fa;
        padding: 15px 10px;
        border-radius: .8rem;
        background-color: #fff; }
        .main--left--element--text h2,
        .main--left--element--text p {
          margin-bottom: 2%; }
  .main--left--element:hover {
    cursor: pointer; }
